button {
    background-color: rgb(117, 111, 111);
    height: 27px;
    width: 50px;
  }
  
  button:hover { background-color: rgb(117, 111, 111); }
  button:focus,
  button:active { outline: none; }
  button::-moz-focus-inner { border: 0; }
  
  .pin {
    background-color: white;
    border-radius: 98px;
    height: 25px;
    left: -15px;
    position: absolute;
    top: 1px;
    width: 25px;
    transition: left ease .5s;
  }
  
  button.on {
    background-color: green;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    margin-left: 10px;
  }

  button.off{
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    margin-left: 10px;

  }
  
  button.on .pin {
    left: 7px;
    
  }
  