.container{
  margin-right: 32%;
  margin-top: 46px;
  width: 65%;
}

.containerEn {
  margin-left: 32%;
  width: 65%;
  margin-top: 46px;
}

.pArabic{
  font-size: 30px;
  text-align: center;
}
.pEnglish{
  font-size: 30px;
  text-align: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table thead {
  background-color: #e2e1e1;
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.table th {
  font-weight: bold;
}

.table tbody tr:hover {
  background-color: #f9f9f9;
}

